.main {
    padding: 4rem 12rem; /* margem superior e lateral*/
}

.page-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.book-cover {
    width: 7.5rem;
    height: 11rem;
}

.shop-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* grade dos itens e area de finalizacao de compra */
    gap: 6rem; /* distancia entre as duas colunas */
}

.count-And-remove {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.remove-all {
    padding: 0.5rem; /* tamanho do botao */
    background: transparent;
    border: 1px solid #9c9c9cff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 6rem; /* alinhamento com icone e preco */
}

.remove-all:hover {
    background-color: #919191ff;
    color: #fff;
}

.item-list {
    display: flex;
    padding: 1.5rem 0; /* largura do container de cada item*/
    gap: 1.5rem; /*distacia do titulo e nome do autor pro livro*/
    margin-bottom: 1.5rem;
}

.advice-summary {
    margin-top: 1rem;
    background: #3b82f633;
    padding: 1.5rem;
}

.advice-summary p {
    margin-top: 0.5rem;
}

.value-summary {
    margin-top: 1rem;
    background: transparent;
    border: 2px solid #8c8c8c;
    padding: 3rem;
}

.total-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
} /* ajuste do texto do componente finalizar compra */

.complete-purchase {
    all: unset; /* reseta todos os valores padrões */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #131d4f;
    background: #131d4f;
    cursor: pointer;
    width: 100%;
    height: 5rem;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
}

.complete-purchase span {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1; /* zera a altura de linha */
}

.complete-purchase:hover {
    background-color: #0e1536ff;
}

.remove-item {
    all: unset;
    position: absolute;
    top: 1rem;
    right: 6rem;
}

.item-price {
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
}

.recommendations h2 {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.books-reco {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap; /* ← NUNCA quebra linha */
    gap: 2rem;
}

.img-reco {
    width: 100%;
    margin-bottom: 1rem;
    height: 20rem;
    object-fit: cover;
}

.books-heading {
    text-align: flex-start;
    position: relative;
}

.add-book {
    display: flex;
    align-items: center;
    padding: 1rem 3.5rem;
    background: #fff;
    border: 1px solid #9c9c9cff;
    margin-top: 1rem;
    cursor: pointer;
}
