@import 'reset.css';

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #222;
  margin: 0;
  padding: 0;
  height: 200px;
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
  font-weight: 600;
}

.charts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;         
  margin-top: 40px;
  margin-bottom: 60px;
}

#myPlot, #myChart {
  width: 500px !important;
  height: 300px !important;
  border-radius: 8px;
  padding: 15px;
}

.books{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 60px;
}

.book-item{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 160px;
}

.book-item img{
    width: 100%;
    height: 235px;
    border-radius: 4px;
}

.book-item h3{
    font-family: 16px;
    margin: 10px -30 5px;
}

.book-item p{
    font-size: 14px;
    color:#666;
    margin-bottom: 10px;
}