.footer {
    padding: 4rem 0; /*tamanho total do footer*/
    border-top: 1px solid #808080;
    background-color: #f8fafc;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center; /*alinha a logo no centro do seu container*/
    gap: 1rem;
    text-decoration: none;
}

.footer-logo img {
    height: 6rem;
}

.logo-text {
    font-weight: 500;
    font-size: 1.5rem;
}

.footer--grid {
    display: grid;
    grid-template-columns: repeat(
        5,
        1fr
    ); /*cria 5 colunas com uma distancia de 1fr entre cada*/
    justify-content: space-around; /* distribui igualmente o espaço livre entre as*/
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 1rem;
    color: #0f172a;
}

.footer-contact {
    font-style: normal;
    font-size: 1rem;
    padding-bottom: 1rem;
    line-height: 1.6rem;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; /* distancia entre cada link */
    color: #94a3b8;
}

.footer-social {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.footer-pay {
    padding-bottom: 0.5rem;
}

.social-links,
.payment-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1rem;
    color: #808080;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}

.footer-copy {
    padding: 2rem 0;
    background: #59595933;
    margin-top: auto;
}

.footer-copy p {
    font-size: 1rem;
    text-align: center;
    color: #808080;
}
