.footer {
    padding: 4rem 0; /*tamanho total do footer*/
    border-top: 1px solid #80808033;
    background-color: #f8fafc;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center; /*alinha a logo no centro do seu container*/
    gap: 1rem; /* distancia entre a logo e o texto House Library */
    text-decoration: none;
}

.footer-logo img {
    height: 6rem;
}

.logo-text {
    font-weight: 500;
    font-size: 1.5rem;
    color: #0f172a;
}

.footer--grid {
    display: grid;
    grid-template-columns: repeat(
        5,
        1fr
    ); /*cria 5 colunas com uma distancia de 1fr entre cada*/
    justify-content: space-around; /* distribui igualmente o espaço livre entre as*/
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 1.2rem; /* distancia entre os titulos de colunas e links */
    color: #0f172a;
    font-style: normal; /* reseta o padrão do address de ser italico */
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-contact li {
    display: flex;
    flex-direction: column;
    font-style: normal;
    padding-bottom: 1rem;
    gap: 0.5rem;
}

.footer-social {
    margin-top: 1rem; /* separação entre os blocos de icones */
    padding-bottom: 0.5rem; /* distancia entre o titulo e os icones */
}

.footer-pay {
    padding-bottom: 0.5rem;
}

.social-links,
.payment-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer-link {
    color: #000;
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    display: inline-block;
    transition: all 0.3s;
    width: fit-content;
}

.footer-link:hover,
.footer-link:active {
    color: #131d4f;
    border-bottom-color: #131d4f;
}

.footer-copy {
    padding: 2rem 0;
    background: #59595933;
    margin-top: auto;
}

.footer-copy p {
    font-size: 1rem;
    text-align: center;
    color: #808080;
}
