/* RESET GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100dvh;
}
ul,
ol {
    list-style: none;
    padding: 0;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.grid--2-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer {
    padding: 3.5rem 0;
    border-top: 1px solid #808080;
    background-color: #eeefef;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.footer-logo img {
    display: block;
    height: 6rem;
}

.logo-text {
    font-weight: 500;
    font-size: 1.5rem;
}

.footer--grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-around;
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 0.75rem;
}

.footer-contact {
    font-style: normal;
    font-size: 1rem;
    padding-bottom: 1rem;
    line-height: 1.6rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.footer-nav ul {
    flex-direction: column;
    gap: 0.75rem;
}

.social-links,
.payment-icons {
    align-items: center;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1rem;
    color: #808080;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}

.footer-copy {
    padding: 2rem 0;
    background: #59595933;
    margin-top: auto;
}

.footer-copy p {
    font-size: 1rem;
    text-align: center;
    color: #808080;
}
