body{
    background-color: #fff;
    padding: 2rem;
    color: #333;
}

button-anterior{
    background-color: transparent;
    border: 1px solid #131d4f;
    color:#131d4f;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
}

main{
    display: flex;
    justify-content: center;
    height: 400px;
}

#gerenciamento form{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1100px;
}

.upload-container{
    flex: 0 0 210px;
    display: flex;
    flex-direction: column;
}

.upload-label{
    display: block;
    cursor: pointer;
    width: 210px;
    height: 310px;
    background-color: #ddd;
    border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.upload-placeholder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #444;
}

.upload-text{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.upload-hint{
    font-size: 12px;
    color: #666;
}

.preview-imagem{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#input-capa{
    display: none;
}

.form-gerenciamento{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.form-input input,
.fotm-input select,
.form-input textarea{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #229799;
    border-radius: 3px;
    outline: none;
    background-color: white;
    font-size: 14px;
}

.form-input select{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #229799;
    border-radius: 3px;
    outline: none;
    background-color: white;
    font-size: 14px;
}

.form-input [id=descrição]{
    width: 480px;
    height: 112px;
    border: 1px solid #229799;
    border-radius: 3px;
    outline: none;
    background-color: white;
    font-size: 14px;
    padding: 1rem;
}

textarea{
    resize: vertical;
    grid-column: 1 / -1;
    height: 100px;
}

button[type="submit2"]{
    grid-column: 1 / -1;
    background-color: #131d4f;
    color: white;
    border: none;
    padding: 0.8rem;
    border: 5px;
    cursor: pointer;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    transition: background 0.3s;;
}

