@import 'reset.css';

.header .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    height: 8rem;
}

.logo {
    height: 6rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    display: inline-block;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
    color: #131d4f;
    border-bottom-color: #131d4f;
}
