@import 'reset.css';
/* HEADER */

.header .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    height: 8rem;
}

.logo {
    height: 6rem;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
    justify-self: center;
    width: 100%;
    max-width: 40rem;
    border-radius: 9999px;
    border: 1px solid #131d4f;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: #333;
}

.search-submit {
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #cbd5e1;
    flex-shrink: 0;
    background-image: url('/house-library-app/public/assets/header-icons/lupa.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    display: inline-block;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
    color: #131d4f;
    border-bottom-color: #131d4f;
}
