/* RESET GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100dvh;
}
ul,
ol {
    list-style: none;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* HEADER */

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    height: 8rem;
}

.logo {
    height: 6rem;
}

.search-form {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    position: relative;
    padding: 3px;
    border: 2px solid #131d4f;
    border-radius: 500px;
}

.search-input {
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.search-input:focus {
    outline: 0;
}

.search-submit {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    background-color: #131d4f;
    height: calc(2.5rem - 0.625rem);
    width: calc(2.5rem - 0.625rem);
    position: absolute;
    right: 0;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    display: inline-block;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
    color: #131d4f;
    border-bottom-color: #131d4f;
}
