/* RESET GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100dvh;
}
ul,
ol {
    list-style: none;
    padding: 0;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* HEADER */

.header .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    height: 8rem;
}

.logo {
    height: 6rem;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
    justify-self: center;
    width: 100%;
    max-width: 40rem;
    border-radius: 9999px;
    border: 1px solid #131d4f;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
}

.search-input {
    flex-grow: 1;
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: #333;
}

.search-submit {
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #333;
    flex-shrink: 0;
    background-image: url('/public/assets/header-icons/lupa.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    display: inline-block;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
    color: #131d4f;
    border-bottom-color: #131d4f;
}
