/* RESET GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding: 0;
}
ul,
ol {
    list-style: none;
    padding: 0;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}
img,
picture,
video,
canvas,
svg {
    max-inline-size: 100%;
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
