/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 9.25rem;
    padding: 27px 52px;
}
