.container {
    max-width: 1200px;
    margin: 1rem auto 0 auto;
    padding: 1rem;
}

.main {
    flex-grow: 1;
    margin-top: 4rem
}

.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem; 
}

.error-title {
    text-align: center;
    font-size: 1.875rem;
    margin-top: 3rem;
    margin-bottom: 2rem; 
    font-weight: bold;
}

.error-text {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.error-image {
    display: block; 
    max-width: 300px; 
    width: 100%; 
    height: auto; 
    margin: 0 auto 2rem auto; 
}

.btn-inicio {
    display: inline-block; 
    text-align: center;
    text-decoration: none;
    padding: 0.75rem 2rem; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3rem;
    transition: 0.2s ease;
}

.btn-inicio:hover {
    background-color: #0056b3;
}