@import 'reset.css';

.main-login{
    width: 85vw;
    height: 120vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

body*{
    box-sizing: border-box;
}

.left-login{
    width: 90vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    flex-direction: column;
}

.left-login > h1{
    white-space: nowrap;
}

.left-login-image{
    width: 300vw;
    height: 850px;
}

img{
    height: 6rem;
    align-items: center;
    justify-content: center;
    align-content: left;

}

h1{
    font-size: 19px;
    text-align: center;
}

.senha{
    text-align: end;
    white-space: nowrap;
    color: #131D4F;
    text-decoration: none;
    font-weight: 780;
    font-size: 13px;
}

.cadastro{
    text-align: end;
    white-space: nowrap;
    color: #131D4F;
    font-weight: 780;
    font-size: 14px;
}

.right-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(173, 173, 173);
    margin-left: 30px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 8px 0;
}

.textfield > input{
    width: 280px;
    height: 2px;
    border: none;
    border-radius: 10px;
    padding: 25px;
    background: #D9D9D9;
    font-size: 13px;
    box-sizing: border-box;
}

.btn-login{
    width: 265px;
    padding: 10px 0px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    background: #131D4F;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display:none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 100%;
        height: auto;
    }

    .card-login{
        width: 90%;
    }
}