@import 'reset.css';

.main-login{
    width: 85vw;
    height: 120vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

body*{
    box-sizing: border-box;
}

.left-login{
    width: 90vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    flex-direction: column;
}

.left-login > h1{
    white-space: nowrap;
}

.left-login-image{
    width: 300vw;
    height: 850px;
}

img{
    height: 6rem;
    align-items: center;
    justify-content: center;
    align-content: left;

}

h1{
    font-size: 19px;
    text-align: center;
}

.senha{
    text-align: end;
    white-space: nowrap;
    color: #131D4F;
    text-decoration: none;
    font-weight: 780;
    font-size: 13px;
}

.cadastro{
    text-align: end;
    white-space: nowrap;
    color: #131D4F;
    font-weight: 780;
    font-size: 14px;
}

.right-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(173, 173, 173);
    margin-left: 30px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 8px 0;
}

.textfield > input{
    width: 280px;
    height: 2px;
    border: none;
    border-radius: 10px;
    padding: 25px;
    background: #D9D9D9;
    font-size: 13px;
    box-sizing: border-box;
}

.btn-login{
    width: 265px;
    padding: 10px 0px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    background: #131D4F;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ============================= */
/*        RESPONSIVIDADE         */
/* ============================= */

/* Telas até 1024px (tablets) */
@media (max-width: 1024px) {
    .main-login {
        width: 100vw;
        height: auto;
        flex-direction: column;
        padding: 20px 0;
    }

    .left-login {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .left-login-image {
        width: 60vw;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .card-login {
        width: 90%;
        max-width: 450px;
        margin: 0 auto;
    }

    .textfield > input {
        width: 100%;
    }
}

/* Telas até 768px (celulares grandes) */
@media (max-width: 768px) {
    .left-login > h1 {
        font-size: 22px;
        white-space: normal;
        text-align: center;
    }

    .left-login-image {
        width: 70%;
    }

    .card-login img {
        height: 4rem;
    }

    .card-login h1 {
        font-size: 18px;
    }

    .textfield > input {
        padding: 18px;
        font-size: 14px;
    }

    .btn-login {
        width: 100%;
    }
}

/* Telas até 480px (celulares pequenos) */
@media (max-width: 480px) {
    .main-login {
        padding: 20px;
    }

    .left-login {
        padding: 10px;
    }

    .left-login-image {
        width: 90%;
    }

    .right-login {
        margin: 0;
    }

    .card-login {
        width: 100%;
        padding: 25px 20px;
        box-shadow: none;
    }

    .textfield > input {
        padding: 16px;
    }

    .btn-login {
        margin-top: 12px;
    }

    .senha,
    .cadastro {
        font-size: 12px;
    }
}
