.main {
    padding: 4rem 12rem;
}

.container {
    max-width: 80rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.book-cover {
    width: 7.5rem;
    height: 11rem;
    border-radius: 4px;

}

.page-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.shop-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.cart-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.cart-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-title h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}

.cart-title p {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
}

.remove-all {
    padding: 0.5rem;
    background: transparent;
    border: 1px solid #9c9c9cff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-all:hover {
    background-color: #919191ff;
    color: #fff;
}

.item-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2rem 0;
    gap: 2rem;
    border-bottom: 1px solid #e0e0e0;
}

.item-list:last-child {
    border-bottom: none;
}

.item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item-info h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.item-info p {
    font-size: 0.875rem;
    margin: 0;
}

.items-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-width: 100px;
}

.remove-item {
    background: transparent;
    border: none;
    cursor: pointer;
}

.item-price {
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
}

.advice-summary {
    margin-top: 1rem;
    background: #3b82f633;
    padding: 1.5rem;
    border-radius: 4px;
}

.advice-summary p {
    margin-top: 0.5rem;
}

.value-summary {
    margin-top: 1rem;
    background: transparent;
    border: 2px solid #8c8c8c;
    padding: 2rem;
}

.total-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete-purchase {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #131d4f;
    background: #131d4f;
    width: 100%;
    height: 3.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.complete-purchase span {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1;
}

.complete-purchase:hover {
    background-color: #0e1536ff;
}

.recommendations {
    margin-top: 5rem;
}

.recommendations h2 {
    margin-bottom: 1.5rem;
}

.books-reco {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.img-reco {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.books-heading {
    text-align: flex-start;
}

.add-book {
    display: flex;
    align-items: center;
    padding: 1rem 3.5rem;
    margin-top: 1rem;
    background: #fff;
    border: 1px solid #9c9c9cff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-book:hover {
    background-color: #919191ff;
    color: #fff;
}

/* 1.229px*/
@media (max-width: 81.25em) {
    .main {
        padding: 4rem 8rem;
    }

    .book-cover {
        width: 7rem;
        height: 10.3rem;
        border-radius: 4px;
    }
}

@media (max-width: 62.5em) {
    .main {
        padding: 4rem 2rem;
    }

    .shop-container {
        gap: 8rem;
    }

    .page-title {
        font-size: 2rem;
    }

    .cart-title h2 {
        font-size: 1.5rem;
    }

    .complete-purchase span {
        font-size: 1.25rem;
    }

    .book-cover {
        width: 6.5rem;
        height: 9.5rem;
        border-radius: 4px;
    }

    .img-reco {
        max-height: 16rem;
    }
}

@media (max-width: 54em) {
    .shop-container {
        grid-template-areas:
            'cart'
            'advice'
            'summary';
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .recommendations {
        margin-top: 2rem;
    }

    .recommendations h2 {
        font-size: 1.3rem;
    }

    .page-title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .cart-header {
        margin-top: 2rem;
    }

    .cart-title h2 {
        font-size: 1.1rem;
    }

    .cart-title p {
        font-size: 0.9rem;
    }

    .complete-purchase {
        height: 3rem;
    }

    .complete-purchase span {
        font-size: 1.125rem;
    }

    .item-info {
        gap: 0.3rem;
    }

    .item-info h3 {
        font-size: 0.9rem;
    }

    .item-info p {
        font-size: 0.8rem;
    }

    .item-list {
        padding: 1rem 0;
        gap: 1rem;
    }

    .book-cover {
        width: 5.5rem;
        height: 8rem;
        border-radius: 4px;
    }
}
