main {
    flex: 1;
    margin-top: 10rem;
    padding: 0;
}

.container {
    max-width: 80rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.title-text {
    display: flex;
    justify-content: center;
}

.divider {
    margin: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.input-label {
    margin-left: 10rem;
}

.input-label input[type='text'] {
    min-width: 60%;
    padding: 0.5rem;
    /* gap: 1rem; <- REMOVIDO */
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.btn-cadastrar {
    padding: 0.5rem 2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-cadastrar:hover {
    background-color: #0056b3;
}

.table-products {
    width: 100%;
    margin: 2rem 0;
    overflow-x: auto;
}

.table-products table {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 0.5rem;
    overflow: hidden;
}

.table-products tbody {
    background-color: #f8f9fa;
}

.table-products th {
    background-color: #2c3e50;
    color: #fff;
    font-weight: 600;
    padding: 1rem 2rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-products td {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #495057;
}

.btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editar {
    margin-right: 1rem;
    background-color: #229799;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    max-width: 200px;
    transition: 0.2s ease;
}

.excluir {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 15px;
    cursor: pointer;
    max-width: 200px;
    transition: 0.2s ease;
}

.editar:hover {
    background-color: #1c7d80;
}

.excluir:hover {
    background-color: #c0392b;
}

@media (max-width: 50em) {
    .input-label {
        margin-left: 5rem;
        margin-bottom: 1.5rem;
    }
}
