@import 'reset.css';

h2{
    text-align: center;
}

.ebook {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;
}


.title-book,
.desc-book,
.book-author {
  cursor: default;
}

.book-info a {
  text-decoration: none;
  color: #333;
}

.book-author {
  margin-top: 0.2rem;
}



.book-info p {
  max-width: 500px;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 0.95rem;
}

.cart-summary {
  flex-shrink: 0; 
  padding-top: 3.5rem;
}

.value-summary {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
    background: transparent;
    border: 2px solid #8c8c8c;
    padding: 2rem;
    width: 20rem;
}

.total-value {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.total-value h3 {
  text-decoration: none;
  color: #000;
}

.summary-btn {
  padding: 1rem;
  background-color: #6B7280;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}

.buy-btn {
  padding: 1rem;
  background-color: #131D4F;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.summary-btn a, 
.buy-btn a {
  text-decoration: none;
  color: #fff;
}

.summary-btn:hover {
  background-color: #9CA3AF;
}

.buy-btn:hover {
  background-color: #142b7a;
}

.books{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 60px;
}

.img-grid {
    width: 100%;
    height: 350px;
    aspect-ratio: 2 / 3;
    object-fit: contain;
    border-radius: 2px;
}

.ebook-container {
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
  gap: 1rem; 
  margin-top: 3rem;
}


