@import 'reset.css';

h2{
    text-align: center;
}

.ebook {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
}

.ebook img.book-cover {
  width: 230px;
  border-radius: 4px;
}

.book-info h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.book-info p {
  max-width: 500px;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 0.95rem;
}

.btn {
  background-color: #131D4F;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #142b7a;
}

.books{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 60px;
}

.book-item{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 160px;
}

.book-item img{
    width: 100%;
    height: 235px;
    border-radius: 4px;
}

.book-item h3{
    font-family: 16px;
    margin: 15px 0px;
    white-space: nowrap;
    text-align: center;
}


.value-summary {
    margin-top: 1rem;
    background: transparent;
    border: 2px solid #8c8c8c;
    padding: 2rem;
    width: 20rem;
}

.complete-purchase {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #131d4f;
    background: #131d4f;
    width: 100%;
    height: 3.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.complete-purchase span {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1;
}

.complete-purchase:hover {
    background-color: #0e1536ff;
}

.ebook-container {
  display: flex;
  align-items: flex-start; /* alinha o topo dos dois blocos */
  justify-content: center; /* centraliza horizontalmente na tela */
  gap: 1rem; /* espaço entre a seção e o aside */
  margin-top: 3rem;
}

.cart-summary {
  flex-shrink: 0; /* impede o aside de encolher */
  padding-top: 3.5rem;

}
