@import 'reset.css';

body {
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  padding: 2rem;
}

h2{
    text-align: center;
}

.ebook {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
}

.ebook img.book-cover {
  width: 230px;
  border-radius: 4px;
}

.book-info h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.book-info p {
  max-width: 500px;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 0.95rem;
}

.btn {
  background-color: #131D4F;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #142b7a;
}

.books{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 60px;
}

.book-item{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 160px;
}

.book-item img{
    width: 100%;
    height: 235px;
    border-radius: 4px;
}

.book-item h3{
    font-family: 16px;
    margin: 10px -30 5px;
}





/* até 1000px (tablets) */
@media (max-width: 81.25em) {
  body {
    padding: 1.5rem;
  }

  .ebook {
    gap: 3rem;
  }

  .ebook img.book-cover {
    width: 200px;
  }

  .book-info {
    max-width: 450px;
    flex-direction: wrap;
  }

  .books {
    gap: 2rem;
  }
}