body {
    margin-top: 200px;
    min-height: 100vh;
}

.favorites-main {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    padding: 0 40px;
    flex: 1;
    box-sizing: border-box;
}

.favorites-empty {
    text-align: center;
    padding: 60px 20px;
}

.favorites-empty h3 {
    color: #000;
    margin-bottom: 20px;
}

.btn-destaque {
    text-decoration: none;
    background-color: #243a5a;
    color: #fff !important;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
    display: inline-block;
    transition: background 0.2s;
    text-decoration: none;
    text-align: center;
}

.btn-destaque:hover {
    background-color: #1b2b44;
    text-decoration: none;
}

.favorites-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.favorite-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.item-details-container {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.book-item img {
    width: 700px;
    height: 270px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.book-info {
    flex-grow: 1;
}

.book-info h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.book-author strong {
    font-size: 14px;
    color: #555;
    font-weight: 400;
    margin-bottom: 2px;
    display: block;
}

.book-rating {
    font-size: 14px;
    color: #f4b400;
    margin-bottom: 10px;
}

.book-description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-action-box {
    width: 270px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 0.5rem;
   
}

.item-price strong {
    font-size: 22px;
    font-weight: 600;
    color: #1e1e1e;
    margin-bottom: 15px;
}

.btn-add-to-cart {
    background-color: #243a5a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: background 0.2s;
    gap: 2px;
    text-align: center;
    text-decoration: none;
}

.btn-add-to-cart:hover {
    background-color: #0f1724;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.pagination a {
    text-decoration: none;
    color: #555;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transition: background-color 0.2s;
    font-size: 14px;
}

.pagination a.active {
    background-color: #243a5a;
    color: #fff;
    border-color: #243a5a;
}

.btn-remove-fav{
    text-decoration: none;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

@media (max-width: 900px) {
    .favorites-main {
        padding: 0 20px;
    }

    .favorite-item {
        flex-direction: column;
        gap: 15px;
    }

    .item-details-container {
        width: 100%;
        padding: 15px;
    }

    .item-action-box {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .item-price strong {
        margin-bottom: 0;
    }

    .btn-add-to-cart {
        width: 60%;
        padding: 10px 15px;
    }
}

@media (max-width: 600px) {
    .item-details-container {
        flex-direction: column;
        align-items: center;
    }

    .book-info {
        text-align: center;
    }

    .book-rating {
        justify-content: center;
        display: flex;
    }

    .book-description {
        -webkit-line-clamp: 4;
    }

    .item-action-box {
        flex-direction: column;
    }

    .item-price strong {
        margin-bottom: 10px;
    }

    .btn-add-to-cart {
        width: 100%;
        padding: 12px 15px;
    }
}
