.pagination {
  display: flex;
  justify-content: center;
  list-style: none; 
  padding: 0px;
  margin-top: 3.5rem;
  
}

.pagination li a {
  display: block; 
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid gray;
  color: black;
  margin: 0 4px;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination li a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination li a.disabled {
  color: #dddddd;
  cursor: not-allowed;
  pointer-events: none;
}

.pagination li a:hover:not(.active) {
  background-color: lightgray;
}

.pagination li a:hover:not([style*="cursor: default"]) {
  background-color: #ddd;
}