main {
    flex: 1;
    margin-top: 10rem;
}

.table-products {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.title-text {
    text-align: center;
}

.divider {
    margin: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.content-table thead tr {
    background-color: #131d4fcc;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

#tabela th:nth-child(1),
#tabela td:nth-child(1) {
    text-align: center !important;
}

.content-table tbody {
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-og-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #131d4fcc;
}

.btn-action {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    white-space: nowrap;
}

.editar {
    text-decoration: none;
    background-color: #229799;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 15px;
    cursor: pointer;
    max-width: 200px;
    transition: 0.2s ease;
}

.editar:hover {
    background-color: #1c7d80;
}

.excluir {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 15px;
    cursor: pointer;
    max-width: 200px;
    transition: 0.2s ease;
}

.excluir:hover {
    background-color: #c0392b;
}
