@import 'reset.css';

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wihte;
}

img{
    height: 6rem;
    align-items: center;
    justify-content: center;
    align-content: left;

}

.right-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 850px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(173, 173, 173);
    margin-left: 60px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 8px 0;
}

.textfield > input{
    width: 280px;
    height: 2px;
    border: none;
    border-radius: 10px;
    padding: 25px;
    background: #D9D9D9;
    font-size: 13px;
    box-sizing: border-box;
}

.btn-login{
    width: 280px;
    padding: 10px 0px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    background: #131D4F;
    color: white;
    cursor: pointer;
}

a{
    width: 280px;
    padding: 10px 0px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    background: #131D4F;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display:none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 100%;
        height: auto;
    }

    .card-login{
        width: 90%;
    }
}